<div class="movie-detail">
  <div class="movie-detail__header">
    <h1 class="movie-detail__title">{{ movieDetail.title }}</h1>
    <p class="movie-detail__tagline">{{ movieDetail.tagline }}</p>
  </div>
    <img
      class="movie-detail__backdrop"
      src="https://image.tmdb.org/t/p/w1920_and_h800_multi_faces{{movieDetail.backdrop_path}}"
      alt="{{ movieDetail.title }}"
    >
    <div class="movie-detail__header-container">
      <img
        class="movie-detail__poster"
        src="https://image.tmdb.org/t/p/w500{{movieDetail.poster_path}}"
        alt="{{ movieDetail.title }}"
      >
      <div class="movie-detail__content">

      <div class="movie-detail__info">
        <p>
          @if (movieDetail.genres.length > 1) {
            @for (genre of movieDetail.genres; track genre.id) {
              <span class="movie-detail__genre">{{ genre.name }}</span>
              @if (genre !== movieDetail.genres[movieDetail.genres.length - 1]) {
                <span>, </span>
              }
            }
          } @else {
            @for (genre of movieDetail.genres; track genre.id) {
              <span class="movie-detail__genre">{{ genre.name }}</span>
            }
          }
          | {{ formatRuntime(movieDetail.runtime) }}  <app-rate class="ml-2" [vote_average]="movieDetail.vote_average"></app-rate>
        </p>
        <p>Status: {{ movieDetail.status }}</p>
        <p>Release date: {{ movieDetail.release_date | date:'longDate' }}</p>
        <p>Original title: {{ movieDetail.original_title }}</p>
        <p>Origin: {{ movieDetail.original_language }} | {{ movieDetail.origin_country }}</p>
        <p>Revenue: {{ movieDetail.revenue | currency }}</p>
        <p>Budget: {{ movieDetail.budget | currency }}</p>
        @if (movieDetail.homepage) {
          <a [href]="movieDetail.homepage" target="_blank">{{ movieDetail.title }} homepage</a>
        }
        <app-rating class="mt-4" [movieId]="movieDetail.id"/>

      </div>
      <div class="movie-detail__overview">
        <h2 class="movie-detail__overview-title">Overview</h2>
        <p>{{ movieDetail.overview }}</p>
      </div>
    </div>
  </div>
  <div class="movie-detail__collection">
    @if (movieDetail.belongs_to_collection) {
      <h2>{{ movieDetail.belongs_to_collection.name }}</h2>
      <div class="movie-detail__collection-wrapper">
        <img
        class="movie-detail__collection--img"
        src="https://image.tmdb.org/t/p/w500{{movieDetail.belongs_to_collection.poster_path}}"
        alt="{{ movieDetail.belongs_to_collection.name }}"
      >
      <img
        class="movie-detail__collection--img"
        src="https://image.tmdb.org/t/p/w500{{movieDetail.belongs_to_collection.backdrop_path}}"
        alt="{{ movieDetail.belongs_to_collection.name }}"
      >
    </div>
  }
  </div> @if (movieDetail.production_companies.length > 0) {
    <div class="movie-detail__production-companies">
    <h2>Production Companies</h2>
    <div class="movie-detail__production-company-wrapper">
    @for (company of movieDetail.production_companies; track company.id) {

        <div class="movie-detail__production-company">
      @if (company.logo_path !== null) {
      <img
      class="movie-detail__production--background"
      src="https://image.tmdb.org/t/p/w500{{company.logo_path}}"
      alt="{{ company.name }}"
    >
  } @else {
      <img
      class="movie-detail__production--placeholder"
        src="/img/placeholder-company.webp"
        alt="{{ company.name }}"
        >
      }
      <p>{{ company.name }}</p>
      </div>
    }
  </div>
</div>
}
</div>