@if (movie$ | async; as m) {
  <div class="flex justify-end z-50">
    <app-button class="z-50" [type]="m.isInWatchlist ? 'watchlist-secondary' : 'watchlist'" title="{{ m.isInWatchlist ? 'remove from watchlist' : 'add to watchlist' }}" (click)="toggleWatchlist(m.movieDetail.id)">
      <svg class="bookmark-icon" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24">
        <use href="/icons.svg#bookmark-icon" />
      </svg>
      <span class="hidden-text">
        {{ m.isInWatchlist ? 'remove from watchlist' : 'add to watchlist' }}
      </span>
    </app-button>
    </div>
    <app-movie-preview [movieDetail]="m.movieDetail"/>
    <app-persons-preview [persons]="m.movieDetail.credits.cast"/>
    <app-persons-preview [persons]="m.movieDetail.credits.crew"/>
    <app-similar-preview [similarMovies]="m.movieDetail.similar.results"/>
} @else {
  <p class="text-center text-2xl">Loading movie details...</p>
}