<header>
  <span class="app-title"><a class="main-logo" routerLink="/"> {{ title }} </a></span>
  <nav>
    <ul>
      <!-- <li><a routerLink="/movies">Movies</a></li> -->
      <li class="nav-item">
        <a routerLink="/watchlist">Watchlist</a>
          <div [class.zero]="(watchlistCount$ | async) === 0" class="badge-container primary">
            <span class="badge">{{ watchlistCount$ | async }}</span>
          </div>
      </li>
      <li class="nav-item">
        <a routerLink="/rated-movies">Rated Movies</a>
        <!-- <div [class.zero]="(ratedMoviesCount$ | async) === 0" class="badge-container secondary">
          <span class="badge">{{ ratedMoviesCount$ | async }}</span>
        </div> -->
        <div class="badge-container secondary">
          <span class="badge">{{ ratedMoviesCount$ | async }}</span>
        </div>
      </li>
    </ul>
  </nav>
</header>
