<a [routerLink]="['/detail', movie.id]">
  @if (movie.poster_path) {
    <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{ movie.title }}">
  }
  @else {
    <img src="/img/movie-placeholder.png" alt="{{ movie.title }}">
  }
    <div class="movieInfo">
      <p class="movie-title">{{ movie.title }}</p>
      <p class="movie-subtitle">release on: {{ movie.release_date | date:'dd.MM.yyyy' }}</p>
      <p class="movie-view-info link">view info</p>
      <app-button class="watchlist-absolute" [type]="(isInWatchlist$ | async) ? 'watchlist-secondary' : 'watchlist'" [title]="(isInWatchlist$ | async) ? 'remove from watchlist' : 'add to watchlist'" (click)="toggleWatchlist(movie);$event.stopPropagation();$event.preventDefault()">
        <svg class="bookmark-icon" fill="currentColor" stroke="currentColor" viewBox="0 0 24 24">
          <use href="/icons.svg#bookmark-icon" />
        </svg>
        <span class="hidden">
          {{ (isInWatchlist$ | async) ? 'remove from watchlist' : 'add to watchlist' }}
        </span>
      </app-button>
    </div>
    <app-rate class="rate-absolute" [vote_average]="movie.vote_average"></app-rate>
  </a>
