@if (person.length > 0) {
  <h2>Crew</h2>
  <div class="crew-wrapper">
    @for (crew of displayedCrew; track crew.id) {
      <div class="crew-wrapper__item">
        @if (crew.profile_path) {
          <img
            src="https://image.tmdb.org/t/p/w500{{crew.profile_path}}"
            alt="{{ crew.name }}"
          >
        } @else {
          <img src="/img/person-placeholder.png" alt="{{ crew.name }}">
        }
        <p>{{ crew.name }}</p>
        <p>job: {{ crew.job }}</p>
      </div>
    }
  </div>
  <div class="flex justify-center gap-3 mt-6 px-12">
    @if (showCount < person.length) {
      <app-button text="Show more persons" type="primary" (click)="showMore()"></app-button>
    } @else {
      <app-button text="Show less persons" type="secondary" (click)="showLess()"></app-button>
    }
  </div>
} @else {
  <p>No crew found</p>
}